/* Color coding for the website

Light Shades: #F3F5F2;
  Use this color as the background for your dark-on-light designs, or the text color of an inverted design.
Light Accend: #D0A67C;
  Accent colors can be used to bring attention to design elements by contrasting with the rest of the palette.
Main Brand Color: #EE3F3F;
  This color should be eye-catching but not harsh. It can be liberally applied to your layout as its main identity.
Dark Accent: #9E7373;
  Another accent color to consider. Not all colors have to be used - sometimes a simple color scheme works best.
Dark Shades: #2B3130;
  Use as the text color for dark-on-light designs, or as the background for inverted designs.



*/


/**************** General CSS *********************/
body {
  background-color: #2B3130;
  color: #F3F5F2;
  font-family: Arial, Helvetica, sans-serif;

  overflow-x: hidden;
}

.right {
  float: right;
}

.left {
  float: left;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

.home_button {
  cursor: pointer;
}

::-webkit-scrollbar {
  background: #2B3130;
  border-radius: 4px;
  height: 8px;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #D0A67C;
  border-radius: 4px;
}

/**************** NavBar CSS *********************/
.NavBar {
  display: flex;
  background-color: #0f0f0f;
  align-items: center; /* Makes sure the item is in center of the div (in terms of height) */
  height: 5vh;
  width: 100vw;

  /* to make the Nav Bar stay on the top of screen */
  position: -webkit-sticky; /* safari */
  position: sticky;
  top: 0;
}

.NavBar p{
  color: #F3F5F2;
  text-align: center;
  margin: 0 auto;

  font-size: 2vh;
}

.login {
  margin-right: 5vw;
  font-size: 1.5vw;
}

.login:hover {
  cursor: pointer;
}

.profile {
  margin-right: 1vw;
}

.logout {
  font-size: 1.3vw;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  cursor: pointer;
}

/**************** Main Page CSS *********************/
.MainPage {
  height: 104vh;
  width: 100vw;
}


/**************** Source Div CSS *********************/
.SourceDiv {
  /*For Side Scrolling*/
  overflow: auto;
  white-space: nowrap;
}

.SourceDivInner {
  /*This is to prevent a bug with divs 
  appearing at different height*/
  display: inline-flex; 
}
/**************** News Div CSS *********************/
.darkDiv {
  background-color: #000;
  color: #F3F5F2;
}

.dark {
  background-color: #2B3130;
}

.divTitle {
  text-align: center;
}

.NewsDiv {
  border-radius: 1em;

  height: 40vh;
  width: 25vw;
  margin: 1vh 1vw;
  padding: 1vh 1vw;

  /*For Side Scrolling*/
  display: inline-block;
  white-space: normal;
  overflow: hidden;
}

.NewsDiv .Title{
  text-align: center;
  font-size: 1.5vw;
  margin-top: 1vh;
  margin-bottom: 0px;

  font-weight: bold;
}

.NewsDiv .Author{
  font-size: 1.1vw;
  margin-top: 0px;
  color: #a1a1a1;

  font-style: italic;
}

.NewsDiv .Content{
  text-indent: 1vw;
  font-size: 1.4vw;
  padding: 1vh 1vw;

  font-weight: normal;
  padding-right: 0;
}


/**************** Footer CSS *********************/
.footer {
  background-color: #000;
  font-size: 2vh;

  height: 20vh;
  padding-top: 1vh;
  
}